body {
  color: #fff;
  background-color: #000000;
}

.navbar-static-top {
  margin-bottom: 19px;
}

.navbar-inverse .navbar-brand {
  color: #df2d2d;
}

.starter-template {
  text-align: center;
}

.btn-default {
  margin: 4px;
  width: 145px;
  color: #0ce3ac;
  overflow: hidden;
  text-overflow: ellipsis;
}
